<!--
  Generated template for the PungutanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PUNGUTAN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button full round (click)= "perserahanPage();" align="center">Carian Melalui No Perserahan </button>
    <button ion-button full round (click)= "hakmilikPage();" align="center">Carian Melalui No Hakmilik </button>   

</ion-content>
