<!--
  Generated template for the ResultPerserahanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ePerserahan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p align="center"><b>Semakan Status Perserahan</b></p>
  <br><p>No Perserahan Dokumen :</p>
  <br><p>Urusan :</p>
  <br><p>Tarikh Perserahan : </p>
  <br><p>Tarikh Daftar : </p>
  <br><p>Status :</p>

  <button ion-button full round (click)= "perserahanPage();" align="center">Semak Semula Perserahan</button>
  <button ion-button full round (click)= "mainPage();" align="center">Kembali</button>
</ion-content>
