<!--
  Generated template for the NoPerserahanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Carian No Perserahan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <form>
   <ion-item>
      <ion-label floating >Masukkan No Perserahan</ion-label>
   <ion-input type="int" name="noserah" [(ngModel)]="data.noserah"></ion-input>
  </ion-item>
  </form>
  <ion-item>
      <ion-label floating >Sila Pilih Tahun</ion-label>
      <ion-select [(ngModel)]="tahun">
        <ion-option value="2016">2016</ion-option>
        <ion-option value="2017">2017</ion-option>
        <ion-option value="2018">2018</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label floating >Sila Pilih Jenis Urusan</ion-label>
      <ion-select [(ngModel)]="urusan" >
        <ion-option value="kvst">Kaveat Persendirian Atas Tanah</ion-option>
        <ion-option value="kvstb">Tarik Balik Kaveat Persendirian</ion-option>
        <ion-option value="ta">Tukar Alamat</ion-option>
        <ion-option value="tn">Tukar Nama</ion-option>
        <ion-option value="tmam">Turun Milik Akibat Kematian</ion-option>
        <ion-option value="gd">Gadaian Menjamin Wang Pokok</ion-option>
        <ion-option value="gdl">Melepaskan Gadaian</ion-option>
        <ion-option value="pmt">Pindahmilik Tanah</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Sila Pilih Jenis Hakmilik</ion-label>
    <ion-select [(ngModel)]="jhakmilik">
      <ion-option value="hsd">HSD</ion-option>
      <ion-option value="grn">GRN</ion-option>
      <ion-option value="pn">PN</ion-option>
      <ion-option value="hsm">HSM</ion-option>
      <ion-option value="gm">GM</ion-option>
      <ion-option value="pm">PM</ion-option>
    </ion-select>
</ion-item>
<ion-item>
  <ion-label floating >Sila Pilih Daerah</ion-label>
  <ion-select [(ngModel)]="daerah" >
    <ion-option value="01">Klang</ion-option>
    <ion-option value="02">Kuala Langat</ion-option>
    <ion-option value="04">Kuala Selangor</ion-option>
    <ion-option value="05">Sabak Bernam</ion-option>
    <ion-option value="06">Hulu Langat</ion-option>
    <ion-option value="07">Hulu Selangor</ion-option>
    <ion-option value="08">Petaling</ion-option>
    <ion-option value="09">Gombak</ion-option>
    <ion-option value="10">Sepang</ion-option>
  </ion-select>
</ion-item>

<button ion-button full round (click)= "resultPage();" align="center">Hantar </button>
</ion-content>
