<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <button ion-button full round (click)= "mainPage();" align="center">Menu Utama </button>

</ion-content>
