<ion-header>
	<ion-navbar>
		<ion-title>
			PTGS
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
				
					<img src="assets/imgs/ptgs_logo.png"/>
				
					<ion-card-content>
					  <p>
						Selamat Datang ke Pejabat Tanah dan Galian Selangor
					  </p>
					</ion-card-content>
				
	</ion-card>

	<ion-list>
		<ion-item>
			<ion-label floating>Penerangan Kod Urusan</ion-label>
			<ion-input type="text" name="kodurusan" [(ngModel)]="data.kodurusan"></ion-input>
		</ion-item>

		<button ion-button block (click)="submit()">Submit to server</button>
	</ion-list>

	<ion-card>
		<ion-card-header>
			Response
		</ion-card-header>

		<ion-card-content>
			<b>{{data.response}}</b>
		</ion-card-content>
	</ion-card>

	<button ion-button full round (click)= "nextPage();" align="center">ePungutan </button>

	<button ion-button full round (click)= "perserahanPage();" align="center">ePerserahan </button>

	<button ion-button full round (click)= "aduanPage();" align="center">E-ADUAN </button>
</ion-content>

