<!--
  Generated template for the AduanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>ADUAN</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="aduan">
      <ion-list>
          <ion-item><!-- // Kad pengenalan pengadu   -->
            <ion-label floating>No MyKad Pengadu</ion-label>
            <ion-input type="text" name="kp" [(ngModel)]="data.kp"></ion-input>
          </ion-item>

          <ion-item><!-- // Email pengadu   -->
            <ion-label floating>Email Pengadu</ion-label>
            <ion-input type="text" name="email" [(ngModel)]="data.email"></ion-input>
          </ion-item>

          <button ion-button block (click)="submit()">Cari</button>
      </ion-list>

      <ion-card>
          <ion-card-header>Response</ion-card-header>

          <ion-card-content><b>{{data.response}}</b></ion-card-content>
      </ion-card>
      
  </ion-content>
  