<!--
  Generated template for the NoPerserahanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>ePungutan</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
        
        <ion-item>
            <ion-label floating >Sila Pilih Daerah</ion-label>
            <ion-select [(ngModel)]="daerah" >
              <ion-option value="01">Klang</ion-option>
              <ion-option value="02">Kuala Langat</ion-option>
              <ion-option value="04">Kuala Selangor</ion-option>
              <ion-option value="05">Sabak Bernam</ion-option>
              <ion-option value="06">Hulu Langat</ion-option>
              <ion-option value="07">Hulu Selangor</ion-option>
              <ion-option value="08">Petaling</ion-option>
              <ion-option value="09">Gombak</ion-option>
              <ion-option value="10">Sepang</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating >Sila Pilih Mukim</ion-label>
              <ion-select [(ngModel)]="mukim" >
                <ion-option value="01">a</ion-option>
                <ion-option value="02">b</ion-option>
                <ion-option value="04">c</ion-option>
                <ion-option value="05">d</ion-option>
                <ion-option value="06">e</ion-option>
                <ion-option value="07">f</ion-option>
                <ion-option value="08">g</ion-option>
                <ion-option value="09">h</ion-option>
                <ion-option value="10">i</ion-option>
              </ion-select>
            </ion-item>
      <ion-item>
        <ion-label floating>Sila Pilih Jenis Hakmilik</ion-label>
        <ion-select [(ngModel)]="jhakmilik">
          <ion-option value="hsd">HSD</ion-option>
          <ion-option value="grn">GRN</ion-option>
          <ion-option value="pn">PN</ion-option>
          <ion-option value="hsm">HSM</ion-option>
          <ion-option value="gm">GM</ion-option>
          <ion-option value="pm">PM</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating >Masukkan No Perserahan</ion-label>
     <ion-input type="int" name="nohak" [(ngModel)]="data.nohak"></ion-input>
    </ion-item>
    
    <button ion-button full round (click)= "resultPage();" align="center">Hantar </button>
    </ion-content>
    